.homeHeaderContainer{
    height: calc(100vh);
    background-image: url('../images/leaves.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: calc(50%);
    background-position-x: left;
}
.chevronContainer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* .homeCardContainer{
    margin: 5%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
} */
@media screen and (max-width: 600px){
    .homeHeaderContainer{
        background-image: url('../images/leaves_mobile.jpg');
        background-position-y: top;
    }
}