.card{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cardImageContainer{
    background-color: white;
    box-shadow: 0 0 8px 2px rgb(220, 220, 220);
    overflow-y: hidden;
    display: flex;
    align-items: center;
}
.cardImageContainer img{
    width: 100%;
    display: block;
    border-radius: 5px;
}
.cardTextContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}