.cardsContainer{
    margin: 5%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
  }
@media screen and (max-width: 1200px) {
    .cardsContainer{
        grid-template-columns: auto auto auto;
    }
}
@media screen and (max-width: 900px) {
    .cardsContainer{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 600px) {
    .cardsContainer{
        grid-template-columns: auto;
    }
}