.footerContainer{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 5%;
    gap: 100px;
}
.footerMain{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 100px;
}
.footerHeader{
    margin-bottom: 10px;
}
.footerContainer p{
    cursor: pointer;
}
@media screen and (max-width: 1200px){
    .footerMain{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 600px){
    .footerMain{
        grid-template-columns: auto;
    }
}