.navbar{
    position: fixed;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    /* gap: 10%; */
    /* background-color: rgb(251, 251, 251); */
    /* background-image: linear-gradient(90deg, rgb(252, 252, 252), rgba(218, 218, 41, 0)); */
}
.navText{
    display: flex;
    align-items: baseline;
    gap: 100px;
    margin-left: 5%;
}
.logo{
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 50px;
    background: -webkit-linear-gradient(180deg, #3a563a, #5b9560);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-family: 'VT323'; */
    font-family: 'Courier New';
}
.logo-t{
    font-size: 50px;
    font-family: sans-serif;
}
.links{
    display: flex;
    gap: 30px;
}
.link{
    text-decoration: none;
    color: black;
    font-size: 18px;
    /* letter-spacing: 1px; */
    /* font-family: "Edu NSW ACT Foundation"; */
}
.startButtonContainer{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5%;
}
.startButton{
    background-image: linear-gradient(rgb(5, 180, 5), rgb(65, 164, 86));
    border: none;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    text-wrap: nowrap;
    cursor: pointer;
}
.burger{
    display: none;
    cursor: pointer;
    margin-right: 5%;
}
.burger div{
    height: 3px;
    width: 25px;
    background-color: black;
    transition: all 0.1s linear;
}
.navbarMobile{
    justify-content: center;
    position: fixed;
    right: 0;
    padding: 50px;
    background-color: black;
    transition: all 0.1s linear;
    visibility: hidden;
}
.linksMobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.linkMobile{
    color: white;
    text-decoration: none;
}

@media screen and (max-height: 400px) {
    .navbar{
        background-color: white;
    }
}
@media screen and (max-width: 800px) {
    .navbar{
        background-color: white;
    }
    .links{
        display: none;
    }
    .startButtonContainer{
        display: none;
    }
    .startButton{
        margin-top: 100px;
    }
    .burger{
        display: flex;
        flex-direction: column;
        justify-content:center;
        gap: 5px;
    }
    .navbarMobile{
        transform: translate(50vw, 100px);
        opacity: 0;
    }
    .navbarMobile-toggle{
        display: flex;
        transform: translate(0, 100px);
        visibility: visible;
        opacity: 1;
    }
}
.burger-toggle .line1{
    transform: rotate(-45deg) translate(-6px, 6px);
}
.burger-toggle .line2{
    opacity: 0;
}
.burger-toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}